@use "lib/a11y" as *;
@use "lib/layout";
@use "lib/style/color";

:host {
	@include layout.flex(column);
	width: 100vw;
	height: 100vh;
}

.titlebar {
	width: 100%;
}

.workspace {
	height: calc(100% - #{rem(36)});
	display: grid;
	grid-template-areas:
		"dock-left  toolbar      dock-right"
		"dock-left  viewport     dock-right"
		"dock-left  dock-bottom  dock-right";
	grid-template-rows: min-content 1fr min-content;
	grid-template-columns: min-content 1fr min-content;
	border: 3px solid color.background(300);
	border-top: 0;
}

.toolbar      { grid-area: toolbar; }
.viewport     { grid-area: viewport; }
.dock--right  { grid-area: dock-right; }
.dock--left   { grid-area: dock-left; }
.dock--bottom { grid-area: dock-bottom; }

.toolbar {
	@include layout.flex(row, stretch, center);
	height: rem(40);
	background: color.background(500);

	button {
		color: color.foreground(300);

		&:hover {
			background: color.background(400);
			color: color.foreground(200);
		}
		&:disabled {
			background: transparent;
			color: color.foreground(500);
		}
	}
}

.dock {
	background: color.background(300);
	padding: 2px 1px;

	&--right,
	&--left {
		@include layout.flex(column);
		width: 280px;
		gap: 2px;

		> .ui-panel {
			flex: 1 0 0;
		}
	}
	&--bottom {
		height: 320px;

		> .ui-panel {
			height: 100%;
		}
	}
}

.viewport {
	// background: url("../assets/wallpapers/paul-gilmore-oc-PqSYz7UU-unsplash.jpg");
	// background-size: cover;
}
