<flege-window-frame
	[class.maximized]="maximized$ | async"
>
	<flege-titlebar
		(createProject)="newProjectDialog = true"
		(openProject)="openProject()"
	>
		FLEGE
	</flege-titlebar>
	<section class="workspace">
		<div class="toolbar">
			<button ui-icon-btn="Build"
				size="40"
				[disabled]="!(currentProject$ | async)"
				(click)="rebuildProject()"
			></button>
		</div>
		<main class="viewport"
			#viewportElement
			[style.background]="(viewportActive$ | async)
				? 'transparent'
				: '#000000'"
			(mousemove)="onViewportMousemove($event)"
		></main>
		<aside class="dock dock--right">
			<ui-panel
				style="max-height: 100%"
				[widgets]="['Inspector']"
				activeWidget="Inspector"
				[locked]="false"
			>
				<flege-inspector
					*uiPanelWidget="'Inspector'"
				></flege-inspector>
			</ui-panel>
		</aside>
		<aside class="dock dock--bottom">
			<ui-panel
				[widgets]="['Console', 'Lorem', 'Ipsum']"
				activeWidget="Console"
				[locked]="false"
			>
				<flege-console
					*uiPanelWidget="'Console'"
				></flege-console>
			</ui-panel>
		</aside>
		<aside class="dock dock--left">
			<ui-panel
				style="max-height: 50%"
				[widgets]="['Scene']"
				activeWidget="Scene"
				[locked]="false"
			>
				<flege-scene-hierarchy
					*uiPanelWidget="'Scene'"
				></flege-scene-hierarchy>
			</ui-panel>
			<ui-panel
				style="max-height: 50%"
				[widgets]="['Assets']"
				activeWidget="Assets"
				[locked]="false"
			>
				<div *uiPanelWidget="'Assets'"></div>
			</ui-panel>
		</aside>
	</section>
</flege-window-frame>

<!--
	TODO: Create a service to spawn dialogs from a component type reference
-->
<flege-new-project-dialog
	*uiDialogTrigger="newProjectDialog"
	(cancel)="newProjectDialog = false"
	(confirm)="createProject($event)"
></flege-new-project-dialog>

<flege-creating-project-dialog blocking
	*uiDialogTrigger="creatingProject"
	[message]="creatingProjectMessage"
	[progress]="creatingProjectProgress"
></flege-creating-project-dialog>

<ui-dialog blocking loader
	*uiDialogTrigger="readingManifest"
>
	<ui-dialog-heading>Reading Manifest</ui-dialog-heading>
</ui-dialog>

<flege-error-dialog blocking
	*uiDialogTrigger="error"
	[error]="error!"
	(close)="error = null"
></flege-error-dialog>
