@use "lib/a11y" as *;
@use "lib/layout";
@use "lib/style/color";

.fields--grid {
	grid-template-columns: max-content repeat(3, 1fr);
}

.field {
	&__input {
		border-width: 2px 2px 2px 3px;
		border-style: solid;
		border-color: transparent;
		border-radius: 1px;

		&:nth-of-type(1) {
			--border-color:         #F26;
			--selection-background: #F268;
		}
		&:nth-of-type(2) {
			--border-color:         #0C8;
			--selection-background: #0C88;
		}
		&:nth-of-type(3) {
			--border-color:         #0AF;
			--selection-background: #0AF8;
		}
		&:nth-of-type(4) {
			--border-color:         #{color.warning(700)};
			--selection-background: #{color.warning(700, 0.5)};
		}

		border-left-color: var(--border-color);
	}
}

.rotation-label {
	@include layout.flex(row);
	gap: rem(4);

	.ui-icon-btn {
		color: color.foreground(400);
	}
}
