<ui-accordion expanded>
	<ui-accordion-header>
		Transform
	</ui-accordion-header>

	<section class="fields fields--flex">

		<ui-fieldset class="field">
			<ui-legend class="field__label">
				Translation
			</ui-legend>
			<ui-float-control class="field__input"
				aria-label="x"
				[(value)]="translation.x"
			></ui-float-control>
			<ui-float-control class="field__input"
				aria-label="y"
				[(value)]="translation.y"
			></ui-float-control>
			<ui-float-control class="field__input"
				aria-label="z"
				[(value)]="translation.z"
			></ui-float-control>
		</ui-fieldset>

		<ui-fieldset class="field">
			<ui-legend class="field__label">
				<span class="rotation-label">
					Rotation
					<button ui-icon-btn="Sync"
						size="14"
						iconSize="xs"
						aria-label="Toggle Rotation Mode"
						(click)="toggleRotationMode()"
					></button>
				</span>
			</ui-legend>

			<ng-container *ngIf="rotationMode === 'Quaternion'">
				<ui-float-control class="field__input"
					aria-label="x"
					reaodnly
					[value]="quat.x"
				></ui-float-control>
				<ui-float-control class="field__input"
					aria-label="y"
					readonly
					[value]="quat.y"
				></ui-float-control>
				<ui-float-control class="field__input"
					aria-label="z"
					readonly
					[value]="quat.z"
				></ui-float-control>
				<ui-float-control class="field__input"
					type="number"
					aria-label="w"
					readonly
					[value]="quat.w"
				></ui-float-control>
			</ng-container>

			<ng-container *ngIf="rotationMode === 'Euler'">
				<ui-float-control class="field__input"
					aria-label="x"
					[value]="euler.x | rad2deg"
					(valueChange)="updateRotation('x', $event)"
				></ui-float-control>
				<ui-float-control class="field__input"
					aria-label="y"
					[value]="euler.y | rad2deg"
					(valueChange)="updateRotation('y', $event)"
				></ui-float-control>
				<ui-float-control class="field__input"
					aria-label="z"
					[value]="euler.z | rad2deg"
					(valueChange)="updateRotation('z', $event)"
				></ui-float-control>
			</ng-container>

		</ui-fieldset>

		<ui-fieldset class="field">
			<ui-legend class="field__label">
				Scale
			</ui-legend>
			<ui-float-control class="field__input"
				aria-label="x"
				[(value)]="scale.x"
			></ui-float-control>
			<ui-float-control class="field__input"
				aria-label="y"
				[(value)]="scale.y"
			></ui-float-control>
			<ui-float-control class="field__input"
				aria-label="z"
				[(value)]="scale.z"
			></ui-float-control>
		</ui-fieldset>

	</section>

</ui-accordion>
