<div class="ui-panel-header">
	<!-- FIXME: a11y -->
	<div class="ui-panel-header__tabs">
		<span *ngFor="let widget of widgets"
			class="ui-panel-header__tab"
			[class.active]="widget === activeWidget"
			(click)="activeWidgetChange.emit(widget)"
		>
			{{ widget }}
		</span>
	</div>
	<button class="ui-panel-header__lock"
		(click)="lockedChange.emit(!locked)"
	>
		<ui-icon
			size="xs"
			[icon]="locked ? 'Locked' : 'Unlocked'"
		></ui-icon>
	</button>
</div>
<div class="ui-panel-body">
	<ng-container *ngTemplateOutlet="activeTemplate"></ng-container>
	<ng-content select="[uiPanelWidget]"></ng-content>
</div>
