@use "lib/a11y" as *;
@use "lib/layout";
@use "lib/style/color";
@use "lib/style/type";

.ui-panel {
	@include layout.flex(column);
}

.ui-panel-header {
	@include layout.flex(row, stretch);
	height: rem(36);

	&__tabs {
		flex: 1 0 0;
		@include layout.flex(row, stretch);
	}
		&__tab {
			@include layout.flex(row, center, center);
			padding: 0 12px;
			@include type.h2;
			color: color.foreground(300);
			font-size: rem(14);
			font-weight: 500;
			user-select: none;
			cursor: pointer;

			&:hover {
				background: color.background(400);
			}

			&.active {
				background: color.background(500);
				color: color.foreground(100);
				font-weight: 700;
			}
		}

	&__lock {
		width: rem(36);
		height: rem(36);
		color: color.foreground(400);
	}
}

.ui-panel-body {
	flex: 1 0 0;
	max-height: calc(100% - #{rem(36)});
	background: color.background(500);
	padding-top: 4px;

	> * {
		display: block;
		width: 100%;
		height: 100%;
		background: color.background(400);
	}
}
