@use "lib/a11y" as *;
@use "lib/layout";
@use "lib/style/color";
@use "lib/style/type";
@use "lib/util";

.ui-float-control {
	--selection-background: #{color.accent(400)};
	--selection-color: #{color.white()};
	--input-padding: 0 #{rem(8)};
	--border-color: #{color.background(400)};

	display: block;
	position: relative;
	border-width: 2px 2px 2px 3px;
	border-style: solid;
	border-color: transparent;
	border-radius: 1px;
	background: color.background(100);
	color: color.foreground(100);
	@include type.ui;
	font-size: rem(13);
	font-weight: 400;

	&:focus-within {
		border-color: var(--border-color);
		position: relative;
		z-index: 1;
	}

	.adjustment-handle {
		width: 6px;
		@include layout.absolute(0, null, 0, -3px);
		opacity: 0;
		cursor: ew-resize;

		.ui-float-control--readonly & {
			pointer-events: none !important;
		}
	}

	&__input {
		min-width: 0;
		width: 100%;
		height: 100%;
		padding: var(--input-padding);
		appearance: none;
		border: none;
		background: transparent;
		outline: none !important;
		@include util.inherit((
			color,
			font,
			font-family,
			font-size,
			font-weight,
			font-style,
		));

		&::selection {
			background: var(--selection-background);
			color: var(--selection-color);
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}
	}
}
