@use "lib/layout";
@use "lib/style/color";
@use "lib/style/elevation";

:host {
	@include layout.flex(column);
	width: 100%;
	height: 100%;
	border-radius: 4px;
	overflow: hidden;
	pointer-events: auto;

	&.maximized {
		border-radius: 0;
	}
}
