@use "lib/a11y" as *;
@use "lib/layout";
@use "lib/style/color";
@use "lib/style/type";

.ui-accordion-header {
	background: color.background(600);
	color: color.foreground(100);

	&:hover {
		background: color.background(500);
		color: color.white();
	}
}

.field {
	&__label {
		@include type.h4;
	}

	&__input {
		border: none;
		background: color.background(100);
		color: color.foreground(100);
		outline: none !important;
		@include type.ui;
		font-size: rem(13);
		font-weight: 400;

		&[type="text"],
		&[type="number"] {
			height: 100%;
			min-width: 0;
			padding: 0 rem(4);
			appearance: none;
		}

		&::selection {
			background: color.accent(400);
			color: color.white();
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}

		&:focus {
			box-shadow: 0 0 0 2px color.accent(600);
			position: relative;
			z-index: 1;
		}
	}
}

.fields--flex {
	.field {
		@include layout.flex(row);
		gap: 6px;
		padding-top: rem(18);
		margin-bottom: rem(8);
		position: relative;

		&__label {
			@include layout.flex(row, baseline);
			@include layout.absolute(0, 0, null, 0);

			&::after {
				content: "";
				display: block;
				flex: 1 0 0;
				height: 2px;
				margin-left: rem(4);
				background: color.background(600);
			}
		}

		&__input {
			flex: 1 0 0;
			height: rem(24);
		}

		&__input[type="checkbox"] {
			flex: unset;
			height: rem(24);
		}
	}
}

.fields--grid {
	display: grid;
	grid-auto-rows: rem(24);
	gap: 2px;

	.field {
		display: contents;

		&__label {
			padding-right: rem(4);
		}
	}
}
