<ng-container [ngSwitch]="component.type">

	<flege-camera-component
		*ngSwitchCase="'Camera'"
		[id]="component.id"
		[name]="$any(struct!.name.value)"
		[projMat]="$any(struct!.projection_matrix.value)"
	></flege-camera-component>

	<flege-light-component
		*ngSwitchCase="'Light'"
		[id]="component.id"
		[color]="$any(struct!.color.value)"
		[depth]="$any(struct!.depth.value)"
		[fov]="$any(struct!.fov.value)"
		[intensity]="$any(struct!.intensity.value)"
		[range]="$any(struct!.range.value)"
	></flege-light-component>

	<flege-name-component
		*ngSwitchCase="'Name'"
		[id]="component.id"
		[value]="$any(struct!.name.value)"
	></flege-name-component>

	<flege-transform-component
		*ngSwitchCase="'Transform'"
		[id]="component.id"
		[translation]="$any(struct!.translation.value)"
		[rotation]="$any(struct!.rotation.value)"
		[scale]="$any(struct!.scale.value)"
	></flege-transform-component>

	<flege-transform-component
		*ngSwitchCase="'GlobalTransform'"
		[id]="component.id"
		[translation]="$any(struct!.translation.value)"
		[rotation]="$any(struct!.rotation.value)"
		[scale]="$any(struct!.scale.value)"
	></flege-transform-component>

	<flege-generic-component
		*ngSwitchDefault
		[id]="component.id"
		[type]="component.type | titleCase"
		[struct]="struct"
	></flege-generic-component>

</ng-container>
