@use "lib/a11y" as *;
@use "lib/layout";
@use "lib/style/color";
@use "lib/style/type";

.ui-accordion {
	@include layout.flex(column);
}

.ui-accordion-header {
	@include layout.flex(row, center);
	height: rem(28);
	padding: 0 0 0 12px;
	user-select: none;
	cursor: pointer;
	background: color.background(500);
	color: color.foreground(200);

	&:hover {
		background: color.background(600);
	}

	&__title {
		flex: 1 0 0;
		@include layout.flex(row);
		@include type.h3;
		color: inherit;
	}

	&__toolbar {
		flex: 0 0 auto;
		width: max-content;
	}

	&__icon {
		@include layout.flex(row, center, center);
		flex: 0 0 rem(36);
		height: rem(32);
		color: color.foreground(400);

		.ui-icon {
			transition: transform 100ms linear;
		}

		&--expanded {
			.ui-icon {
				transform: rotateZ(90deg);
			}
		}
	}
}

.ui-accordion-body {
	display: block;
	overflow: hidden;
	padding: 12px;
}
