<ui-accordion expanded>
	<ui-accordion-header>
		{{ type }}
	</ui-accordion-header>

	<section class="fields fields--flex">
	<ng-container *ngFor="let field of fields">

		<div class="field" *ngIf="!field.multi">
			<label class="field__label">
				{{ field.label }}
			</label>
			<input *unwrap="field.inputs[0] as input"
				class="field__input"
				[type]="input.type"
				[readonly]="input.readonly"
				[checked]="input.type === 'checkbox'
					? input.value
					: null"
				[ngModel]="input.value"
			/>
		</div>

		<ui-fieldset class="field" *ngIf="field.multi">
			<ui-legend class="field__label">
				{{ field.label }}
			</ui-legend>
			<input *ngFor="let input of field.inputs"
				class="field__input"
				[type]="input.type"
				[readonly]="input.readonly"
				[attr.aria-label]="input.ariaLabel"
				[checked]="input.type === 'checkbox'
					? input.value
					: null"
				[ngModel]="input.value"
			/>
		</ui-fieldset>

	</ng-container>
	</section>

</ui-accordion>
