@use './lib/a11y' as *;
@use './lib/style/type';
@use './lib/style/color';

@import "~@angular/cdk/overlay-prebuilt.css";

:root {
	--recursive-mono: 0.51;
	--recursive-casual: 0;
	--recursive-weight: 500;
	--recursive-slant: 0;
	--recursive-cursive: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: transparent;
	overflow: hidden;
	pointer-events: none,
}
body {
	color: color.foreground();
	font-family: var(--global-font-family);
}
h1 { @include type.h1; }
h2 { @include type.h2; }
h3 { @include type.h3; }
h4 { @include type.h4; }
h1, h2, h3, h4 {
	margin: 0 0 rem(24);
	line-height: 1;
}

p {
	margin: 0 0 rem(16);
}

code {
	@include type.recursive;
}
pre {
	@include type.recursive($mono: 1.0);
}

strong.warning {
	color: color.warning(600);
}

button {
	padding: 0;
	background: transparent;
	border: none;
	border-radius: 0;
	appearance: none;
	font: inherit;
	color: inherit;

	&:focus {
		outline: none;
	}
}

.row {
	display: flex;
	width: calc(100% + #{rem(64)});
	margin-right: rem(-32);
	margin-left: rem(-32);
}

.col {
	padding: 0 rem(32);

	@for $i from 1 through 12 {
		&--#{$i} {
			$width: 100% * ($i / 12);
			flex: 0 0 $width;
			width: $width;
		}
	}

	@for $i from 1 through 10 {
		&--w-#{$i * 10} {
			$width: $i * 10%;
			flex: 0 0 $width;
			width: $width;
		}
	}
}
