<ui-dialog blocking>
	<ui-dialog-heading icon="Folder">
		New Project
	</ui-dialog-heading>

	<form id="form" #form="ngForm"
		(ngSubmit)="submit()"
	>
		<label class="form-field">
			<span class="form-field__label">
				Project Name
			</span>
			<input class="form-field__input"
				type="text"
				name="name"
				required
				[(ngModel)]="name"
			/>
		</label>

		<div class="form-field">
			<span class="form-field__label">
				Parent Directory
			</span>
			<div class="form-field__input-group">
				<input class="form-field__input"
					type="text"
					name="path"
					required
					[(ngModel)]="path"
				/>
				<button ui-btn
					type="button"
					(click)="selectPath()"
				>
					Browse...
				</button>
			</div>
			<span class="form-field__help">
				A new sub-folder will be created for your project inside this one
			</span>
		</div>
	</form>

	<ui-dialog-footer>
		<button ui-btn
			icon="Cancel"
			(click)="cancel.emit()"
		>
			Cancel
		</button>
		<button ui-btn="primary"
			icon="Confirm"
			form="form"
			[disabled]="!form.valid"
		>
			Confirm
		</button>
	</ui-dialog-footer>
</ui-dialog>
