@use "lib/a11y" as *;
@use "lib/layout";
@use "lib/style/color";
@use "lib/style/type";

.form-field {
	@include layout.flex(column);
	margin: 0 0 rem(16);

	&__label {
		margin: 0 0 rem(8);
		@include type.h4;
	}

	&__input-group {
		@include layout.flex(row, center);
	}

	&__input {
		@include layout.flex(row, center);
		width: 100%;
		height: rem(32);
		padding: 0 rem(8);
		border: none;
		appearance: none;
		background: color.background(100);
		color: color.foreground(100);
		@include type.ui;

		&::selection {
			background: color.accent(400);
			color: color.white();
		}

		&:focus {
			outline: none !important;
			box-shadow: 0 0 0 4px color.accent(600);
			position: relative;
			z-index: 1;
		}
	}

	&__help {
		margin: rem(4) 0 0;
		@include type.text;
		font-size: rem(12);
		color: color.foreground(300);
	}
}
