<div class="titlebar__favicon-placeholder"
	role="presentation"
></div>

<ui-menubar class="titlebar-menu">
	<ui-menuitem [uiMenuTriggerFor]="fileMenu">File</ui-menuitem>
	<ui-menuitem [uiMenuTriggerFor]="editMenu">Edit</ui-menuitem>
	<ui-menuitem [uiMenuTriggerFor]="debugMenu">Debug</ui-menuitem>
</ui-menubar>

<h1 class="titlebar__title">
	<span class="titlebar__title__app">FLEGE</span>
	<ng-container *ngIf="(currentProject$ | async) as project">
		<span class="titlebar__title__sep">/</span>
		<span class="titlebar__title__project">
			{{ project.name }}
		</span>
	</ng-container>
</h1>

<div class="titlebar__window-controls"
	*unwrap="(maximized$ | async) as maximized"
>
	<button
		aria-label="Minimize"
		(click)="minimize()"
	>
		<ui-icon icon="WindowsMinimize"></ui-icon>
	</button>
	<button
		[attr.aria-label]="maximized ? 'Restore' : 'Maximize'"
		(click)="toggleMaximized()"
	>
		<ui-icon
			[icon]="maximized ? 'WindowsRestore' : 'WindowsMaximize'"
		></ui-icon>
	</button>
	<button class="close"
		aria-label="Close"
		(click)="close()"
	>
		<ui-icon icon="WindowsClose"></ui-icon>
	</button>
</div>

<ui-menu #fileMenu>
	<ui-menuitem
		icon="NewFolder"
		keybind="Ctrl + N"
		(click)="createProject.emit()"
	>
		New Project...
	</ui-menuitem>
	<ui-menuitem
		icon="FolderOpen"
		keybind="Ctrl + O"
		(click)="openProject.emit()"
	>
		Open Project...
	</ui-menuitem>
	<ui-menuitem
		[uiSubmenuTriggerFor]="recentProjectsMenu"
	>
		Open Recent
	</ui-menuitem>
	<ui-menuitem
		icon="Code"
		[disabled]="!(currentProject$ | async)"
		(click)="openProjectCode()"
	>
		Open Project Code
	</ui-menuitem>
	<ui-menuitem
		[disabled]="!(currentProject$ | async)"
		(click)="closeProject()"
	>
		Close Project
	</ui-menuitem>
	<hr />
	<ui-menuitem
		icon="Save"
		keybind="Ctrl + S"
		disabled
	>
		Save
	</ui-menuitem>
	<ui-menuitem
		icon="Save"
		keybind="Ctrl + Shift + S"
	>
		Save as...
	</ui-menuitem>
	<hr />
	<ui-menuitem>
		Import
	</ui-menuitem>
	<ui-menuitem>
		Export
	</ui-menuitem>
</ui-menu>

	<ui-menu #recentProjectsMenu>
		<ui-menuitem>
			Lorem ipsum
		</ui-menuitem>
		<ui-menuitem>
			Dolor sit amet
		</ui-menuitem>
		<ui-menuitem>
			Consectetur
		</ui-menuitem>
		<ui-menuitem>
			Adipiscing elit
		</ui-menuitem>
		<hr />
		<ui-menuitem>
			More...
		</ui-menuitem>
	</ui-menu>

<ui-menu #editMenu>
	<ui-menuitem
		[disabled]="!(currentProject$ | async)"
		(click)="openProjectSettings()"
	>
		Project Settings...
	</ui-menuitem>
	<ui-menuitem (click)="openEditorSettings()">
		Editor Settings...
	</ui-menuitem>
	<hr />
	<ui-menuitem
		icon="Undo"
		keybind="Ctrl + Z"
	>
		Undo
	</ui-menuitem>
	<ui-menuitem
		icon="Redo"
		keybind="Ctrl + Shift + Z"
	>
		Redo
	</ui-menuitem>
	<hr />
	<ui-menuitem
		icon="Cut"
		keybind="Ctrl + X"
	>
		Cut
	</ui-menuitem>
	<ui-menuitem
		icon="Copy"
		keybind="Ctrl + C"
	>
		Copy
	</ui-menuitem>
	<ui-menuitem
		icon="Paste"
		keybind="Ctrl + V"
	>
		Paste
	</ui-menuitem>
</ui-menu>

<ui-menu #debugMenu>
	<ui-menuitem
		(click)="openDevTools()"
	>
		Open DevTools
	</ui-menuitem>
	<hr />
	<ui-menuitem (click)="blockingDialog = true">
		Open blocking dialog...
	</ui-menuitem>
	<ui-menuitem (click)="nonBlockingDialog = true">
		Open non-blocking dialog...
	</ui-menuitem>
	<ui-menuitem (click)="warningDialog = true">
		Open warning dialog...
	</ui-menuitem>
</ui-menu>

<!-- #region | Debug/Test dialogs --------------------------------------- // -->
<!-- #region | Blocking -->
<ui-dialog *uiDialogTrigger="blockingDialog"
	blocking
	(close)="blockingDialog = false"
>
	<ui-dialog-heading icon="Info">
		Lorem Ipsum
	</ui-dialog-heading>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis
		ipsum id mi bibendum ornare. Nunc metus ante, eleifend a tristique id,
		ultricies quis eros.
	</p>
	<ui-dialog-footer>
		<button ui-btn
			icon="Info"
			(click)="blockingDialog = false"
		>
			Tell me more
		</button>
		<button ui-btn="primary"
			icon="Confirm"
			(click)="blockingDialog = false"
		>
			Got it
		</button>
	</ui-dialog-footer>
</ui-dialog>
<!-- #endregion -->

<!-- #region | Non-blocking -->
<ui-dialog *uiDialogTrigger="nonBlockingDialog"
	(close)="nonBlockingDialog = false"
>
	<ui-dialog-heading icon="Info">
		Lorem Ipsum
	</ui-dialog-heading>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis
		ipsum id mi bibendum ornare. Nunc metus ante, eleifend a tristique id,
		ultricies quis eros.
	</p>
	<ui-dialog-footer>
		<button ui-btn
			icon="Info"
			(click)="nonBlockingDialog = false"
		>
			Tell me more
		</button>
		<button ui-btn="primary"
			icon="Confirm"
			(click)="nonBlockingDialog = false"
		>
			Got it
		</button>
	</ui-dialog-footer>
</ui-dialog>
<!-- #endregion -->

<!-- #region | Warning -->
<ui-dialog *uiDialogTrigger="warningDialog"
	blocking
	role="alert"
	(close)="warningDialog = false"
>
	<ui-dialog-heading icon="Warning">
		Lorem Ipsum
	</ui-dialog-heading>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis
		ipsum id mi bibendum ornare. Nunc metus ante, eleifend a tristique id,
		ultricies quis eros.
	</p>
	<p><strong class="warning">Are you sure you want to do this?</strong></p>
	<ui-dialog-footer>
		<button ui-btn
			icon="Back"
			(click)="warningDialog = false"
		>
			Back to safety
		</button>
		<button ui-btn="warning"
			icon="Warning"
			(click)="warningDialog = false"
		>
			Yes, I'm sure
		</button>
	</ui-dialog-footer>
</ui-dialog>
<!-- #endregion -->
<!-- #endregion -->
