@use 'lib/a11y' as *;
@use 'lib/anim';
@use 'lib/layout';
@use 'lib/style/color';
@use 'lib/style/type';

.titlebar {
	@include layout.flex(row);
	height: rem(36);
	padding-left: rem(12);
	background: color.background(200);

	&__favicon-placeholder {
		width: 16px;
		height: 16px;
		border-radius: 8px;
		align-self: center;
		margin-right: rem(8);
		background: color.primary();
	}

	&__title {
		@include layout.flex(row, center, center);
		flex: 1 0 0;
		height: rem(32);
		gap: rem(4);
		align-self: center;
		margin: 0;
		text-align: center;
		-webkit-app-region: drag;
		@include type.h3;

		&__app {
			color: color.foreground(300);
			font-weight: 500;
		}

		&__sep {
			color: color.foreground(500);
			font-size: 1.75em;
			font-weight: 400;
		}

		&__project {
			color: color.foreground(200);
			font-weight: 700;
		}
	}

	&__window-controls {
		@include layout.flex(row);

		button {
			@include layout.flex(row, center, center);
			width: rem(48);
			height: 100%;
			color: color.foreground(200);
			outline: none !important;
			@include anim.transition((background, color));

			&:hover               { background: color.background(700); color: color.foreground(); }
			&.close:hover         { background: color.warning(400); }
			&:active              { background: color.background(400); }
			&.close:active        { background: color.warning(200); }
			&:focus-visible       { background: color.accent(100); color: color.accent(700); }
			&.close:focus-visible { background: color.warning(400); }
		}
	}
}
