<ui-accordion expanded>
	<ui-accordion-header>
		Light
	</ui-accordion-header>

	<section class="fields fields--flex">

		<div class="field">
			<label class="field__label">
				Color
			</label>
			<input class="field__input field__input--color"
				type="color"
				[ngModel]="color?.hex()"
			/>
		</div>

		<ui-fieldset class="field">
			<ui-legend class="field__label">
				Depth
			</ui-legend>
			<input class="field__input"
				type="number"
				aria-label="Start"
				[ngModel]="depth.start"
			/>
			<input class="field__input"
				type="number"
				aria-label="End"
				[ngModel]="depth.end"
			/>
		</ui-fieldset>

		<div class="field">
			<label class="field__label">
				FOV
			</label>
			<input class="field__input"
				type="number"
				[ngModel]="fov"
			/>
		</div>

		<div class="field">
			<label class="field__label">
				Intensity
			</label>
			<input class="field__input"
				type="number"
				[ngModel]="intensity"
			/>
		</div>

		<div class="field">
			<label class="field__label">
				Range
			</label>
			<input class="field__input"
				type="number"
				[ngModel]="range"
			/>
		</div>

	</section>

</ui-accordion>
