@use 'lib/a11y' as *;
@use 'lib/style/color';
@use 'lib/style/elevation';
@use 'lib/style/scrollbar';

.ui-menu-panel {
	display: block;
	width: max-content;
	height: max-content;
	max-width: 100%;
	max-height: 100%;
	padding: rem(10) 0;
	overflow: hidden auto;
	background: color.background(600);
	@include scrollbar.scrollbar(600);
	@include elevation.shadow(300);

	hr {
		height: 2px;
		margin: rem(8) 0;
		background: color.background(400);
		border: none;
	}
}
