@use "lib/a11y" as *;
@use "lib/layout";
@use "lib/style/color";
@use "lib/style/type";

:host {
	@include layout.flex(row, center);
	flex: 0 0 rem(36);
	padding: 0 rem(8);
	background: color.background(500);
}

input {
	@include layout.flex(row, center);
	width: 100%;
	height: rem(24);
	padding: 0 rem(4);
	border: none;
	appearance: none;
	background: color.background(100);
	color: color.foreground(100);
	@include type.ui;
	font-size: rem(13);

	&::selection {
		background: color.accent(400);
		color: color.white();
	}

	&:focus {
		outline: none !important;
		box-shadow: 0 0 0 2px color.accent(600);
		position: relative;
		z-index: 1;
	}
}
