@use 'lib/a11y' as *;
@use 'lib/style/color';
@use 'lib/style/type';
@use 'lib/anim';
@use 'lib/layout';

.ui-menuitem {
	$block: &;
	@include layout.flex(row, center);
	min-width: rem(256);
	height: rem(30);
	padding: 0 rem(24) 0 rem(12);
	cursor: pointer;
	color: color.foreground(100);
	@include anim.transition((background, color));
	outline: none !important;
	@include type.ui;
	font-weight: 500;
	user-select: none;

	&__icon {
		margin-right: rem(10);
		color: color.foreground(300);
		@include anim.transition(color);
	}
	&__label {
		margin-right: rem(48);

		&:first-child {
			margin-left: rem(28);
		}
	}
	&__keybind {
		margin-left: auto;
		@include type.ui('sm');
		font-weight: 500;
		color: color.foreground(400);
		@include anim.transition(color);
	}
	&__submenu-caret {
		margin-left: auto;
		margin-right: -20px;
		color: color.foreground(300);
	}

	&:hover  { background: color.background(500); }
	&:active { background: color.background(400); }
	&:focus-visible {
		background: color.accent(100);
		color: color.accent(700);

		.ui-icon,
		#{$block}__keybind {
			color: color.accent(500);
		}
	}
	&.disabled {
		background: transparent !important;
		color: color.foreground(500) !important;
		cursor: default;

		.ui-icon,
		#{$block}__keybind {
			color: color.foreground(500);
		}
	}
}
