<ui-icon class="ui-menuitem__icon"
	*ngIf="icon"
	size="sm"
	[icon]="icon"
></ui-icon>
<span class="ui-menuitem__label">
	<ng-content></ng-content>
</span>
<span class="ui-menuitem__keybind"
	*ngIf="keybind"
	aria-hidden="true"
>
	{{ keybind }}
</span>
<ui-icon class="ui-menuitem__submenu-caret"
	*ngIf="hasSubmenu"
	icon="ChevronRightSmall"
></ui-icon>
