@use 'lib/a11y' as *;
@use 'lib/layout';
@use 'lib/style/color';

.ui-menubar {
	@include layout.flex(row);
	height: 100%;

	> .ui-menuitem {
		display: inline-flex;
		min-width: 0;
		height: 100%;
		padding: 0 rem(8);
		color: color.foreground(300);
		font-size: rem(14);
		font-weight: 600;
		cursor: default;

		&:hover {
			color: color.foreground(100);
		}

		.ui-menuitem__label {
			margin: 0;
		}

		&.active {
			background: color.background(100);
			color: color.foreground(100);
		}
	}
}
