<div class="toolbar">
	<button ui-icon-btn="Delete"
		size="32"
		iconSize="sm"
		(click)="clear()"
	></button>
	<button ui-icon-btn="Test"
		size="32"
		iconSize="sm"
		(click)="logTestMessages()"
	></button>
</div>

<div class="log" #messagesElement>
	<code class="log-entry {{ entry.severity }}"
		*ngFor="let entry of messages"
	>
		<div class="log-entry__icon">
			<ui-icon *ngIf="(entry.severity | severityIcon) as icon"
				[icon]="icon"
				size="xs"
			></ui-icon>
		</div>

		<span class="log-entry__timestamp">
			{{ entry.timestamp | date : "HH:mm:ss.SSS" }}
		</span>

		<strong class="log-entry__label"
			*ngIf="entry.label"
		>
			{{ entry.label }}
		</strong>

		<span class="log-entry__location"
			*ngIf="entry.location as loc"
		>
			<strong *ngIf="loc.crate">
				{{ loc.crate }}
			</strong>
			{{ loc.filename }}:{{ loc.line }}:{{ loc.column }}
		</span>

		<span class="log-entry__message"
			[innerHTML]="entry.message"
		></span>
	</code>
</div>

<div class="prompt">
	<div class="prompt__icon">
		<ui-icon icon="ChevronRightSmall"></ui-icon>
	</div>
	<input class="prompt__input"
		#promptInput
		type="text"
	/>
	<button ui-icon-btn="Warning"
		size="32"
		iconSize="xs"
		(click)="logWarning(promptInput.value)"
	></button>
	<button ui-icon-btn="Error"
		size="32"
		iconSize="xs"
		(click)="logError(promptInput.value)"
	></button>
	<button ui-icon-btn="Info"
		size="32"
		iconSize="xs"
		(click)="logInfo(promptInput.value)"
	></button>
	<button ui-icon-btn="Confirm"
		size="32"
		iconSize="xs"
		(click)="logSuccess(promptInput.value)"
	></button>
	<button ui-icon-btn="Question"
		size="32"
		iconSize="xs"
		(click)="logDebug(promptInput.value)"
	></button>
</div>
