@use "lib/a11y" as *;
@use "lib/layout";
@use "lib/style/color";
@use "lib/style/scrollbar" as *;
@use "lib/style/type";

:host {
	@include layout.flex(column);
	width: 100%;
	height: 100%;
}

.toolbar {
	flex: 0 0 #{rem(32)};
	@include layout.flex(row);
	background: color.background(400);

	button {
		color: color.foreground(400);
		cursor: pointer;

		&:hover {
			color: color.foreground(300);
		}
	}
}

.log {
	flex: 1 0 0;
	overflow-y: auto;
	background: color.background(300);
	@include scrollbar(300);
}

.log-entry {
	display: block;
	padding: 0 rem(12) 0 rem(32);
	border-top: 1px solid color.background(500);
	border-bottom: 1px solid color.background(500);
	position: relative;
	color: color.foreground(200);
	@include type.recursive;
	font-size: rem(12);
	line-height: rem(24);

	&.error {
		background: color.warning(50, 0.5);
		color: color.white();
		border-top: 2px solid color.warning(500);
		border-bottom: 2px solid color.warning(500);
		margin-top: -1px;
		margin-bottom: -1px;
		z-index: 1;
	}

	&.warning {
		color: color.warning(700);
	}

	&.success {
		color: color.accent(700);
	}

	&__icon {
		@include layout.absolute(0, null, null, 0);
		@include layout.flex(row, center, center);
		width: rem(32);
		height: rem(24);

		.warning & { color: color.warning(700); }
		.error   & { color: color.warning(500); }
		.success & { color: color.accent(500); }
		.info    & { color: color.primary(700); }
		.debug   & { color: color.foreground(400); }
	}

	&__timestamp,
	&__label {
		margin-right: rem(8);
	}

	&__timestamp {
		@include layout.inline-flex(row, center, center);
		@include type.recursive($mono: 1.0);
		color: color.foreground(400);

		.error & { color: color.warning(500); }
	}

	&__label {
		@include layout.inline-flex(row, center, center);
		align-self: center;
		line-height: 1;
		padding: 2px 0;
		border-radius: 1px;

		.warning &, .error &, .success & {
			padding-right: 4px;
			padding-left: 4px;
			color: color.background(100);
			@include type.recursive($weight: 900);
		}

		.info & {
			color: color.primary(700);
			@include type.recursive($weight: 800);
		}

		.debug & {
			color: color.warning(600);
			@include type.recursive($weight: 800);
		}

		.warning & { background: color.warning(700); }
		.error   & { background: color.warning(500); }
		.success & { background: color.accent(500); }
	}

	&__location {
		@include layout.inline-flex;
		padding-left: rem(8);
		float: right;
		color: color.foreground(400);

		.error & { color: color.warning(500); }

		strong {
			@include type.recursive($weight: 700);
			margin-right: rem(6);
		}
	}
}

.prompt {
	flex: 0 0 #{rem(32)};
	@include layout.flex(row);
	height: rem(32);
	background: color.background(300);
	border-top: 2px solid color.background(500);

	&:focus-within {
		border-color: color.accent(500);
	}

	&__icon {
		flex: 0 0 #{rem(32)};
		@include layout.flex(row, center, center);
		height: 100%;
		color: color.foreground(300);
	}

	&__input {
		flex: 1 0 0;
		@include layout.flex(row, center);
		height: 100%;
		appearance: none;
		border: none;
		background: transparent;
		color: color.foreground(100);
		outline: none !important;
		@include type.recursive;
	}
}
