/* barlow-regular - latin */
@font-face {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	src: local('Barlow Regular'), local('Barlow-Regular'),
		url('./fonts/barlow-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./fonts/barlow-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-500 - latin */
@font-face {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 500;
	src: local('Barlow Medium'), local('Barlow-Medium'),
		url('./fonts/barlow-v5-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./fonts/barlow-v5-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 700;
	src: local('Barlow Bold'), local('Barlow-Bold'),
		url('./fonts/barlow-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./fonts/barlow-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-800 - latin */
@font-face {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'),
		url('./fonts/barlow-v5-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./fonts/barlow-v5-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Recursive */
@font-face {
	font-family: 'Recursive';
	src: url('./fonts/Recursive_VF_1.077--subset-GF_latin_basic.woff2') format('woff2');
}
