<ui-accordion expanded>
	<ui-accordion-header>
		Camera
	</ui-accordion-header>

	<section class="fields fields--flex">

		<div class="field">
			<label class="field__label">
				Name
			</label>
			<input class="field__input"
				type="text"
				[ngModel]="name"
			/>
		</div>

		<ui-fieldset class="field field--mat4">
			<ui-legend class="field__label">
				Projection Matrix
			</ui-legend>
			<input class="field__input mat4"
				*ngFor="let value of projMat"
				type="number"
				readonly
				[ngModel]="value"
			/>
		</ui-fieldset>

	</section>
</ui-accordion>
