<div class="ui-dialog-main">
	<div *ngIf="loader"
		class="ui-dialog-progress"
		[class.ui-dialog-progress--indeterminate]="indeterminate"
	>
		<div *ngIf="!indeterminate"
			class="ui-dialog-progress__value"
			[style.width]="completed! / total! | percent"
		></div>
	</div>
	<ng-content select="ui-dialog-heading"></ng-content>
	<section class="ui-dialog-body">
		<ng-content></ng-content>
	</section>
</div>
<ng-content select="ui-dialog-footer"></ng-content>
