<cdk-tree *unwrap="(inspecting$ | async) as inspecting"
	[dataSource]="entities$"
	[treeControl]="treeControl"
	[trackBy]="entityId"
>
	<cdk-nested-tree-node class="tree-node"
		*cdkTreeNodeDef="let ent"
		#node="cdkNestedTreeNode"
	>
		<div class="tree-node__heading"
			[class.hover]="ent.entity === hovered"
			[class.active]="ent.entity === inspecting?.entity"
			[style.padding-left.px]="node.level * 16"
		>
			<button class="tree-node__name"
				(mouseenter)="hovered = ent.entity"
				(mouseleave)="hovered = -1"
				(click)="inspect(ent.entity)"
			>
				{{ ent.name }}
			</button>
		</div>
	</cdk-nested-tree-node>
	<cdk-nested-tree-node class="tree-node"
		*cdkTreeNodeDef="let ent when hasChild"
		#node="cdkNestedTreeNode"
		[style.padding-left.px]="node.level * 16"
	>
		<div class="tree-node__heading with-children"
			[class.hover]="ent.entity === hovered"
			[class.active]="ent.entity === inspecting?.entity"
			[style.padding-left.px]="node.level * 16"
		>
			<button ui-icon-btn="ChevronRightSmall"
				class="tree-node__toggle"
				[class.expanded]="treeControl.isExpanded(ent)"
				cdkTreeNodeToggle
				size="20px"
				iconSize="xs"
				[attr.aria-label]="
					treeControl.isExpanded(ent)
						? 'Expand'
						: 'Collapse'"
			></button>
			<button class="tree-node__name"
				(mouseenter)="hovered = ent.entity"
				(mouseleave)="hovered = -1"
				(click)="inspect(ent.entity)"
			>
				{{ ent.name }}
			</button>
		</div>
		<div class="tree-node__body"
			[hidden]="!treeControl.isExpanded(ent)"
			[style.padding-left.px]="node.level * 16"
		>
			<ng-container cdkTreeNodeOutlet></ng-container>
		</div>
	</cdk-nested-tree-node>
</cdk-tree>
