@use "lib/a11y" as *;
@use "lib/anim";
@use "lib/layout";
@use "lib/style/color";
@use "lib/style/scrollbar";
@use "lib/style/type";

:host {
	overflow-y: auto;
	@include scrollbar.scrollbar(400);
	padding: rem(4) 0;
}

.tree-node {
	display: block;

	&__toggle {
		color: color.foreground(400);
		transform-origin: center center;
		@include anim.transition(transform);

		.active & {
			color: color.primary(600);
		}

		&:hover {
			color: color.foreground(200);

			.active & {
				color: color.primary(700);
			}
		}
		&.expanded {
			transform: rotate(90deg);
		}
	}

	&__heading {
		@include layout.flex(row);
		height: rem(20);
		color: color.foreground(200);

		&.hover {
			background: color.background(300);
			color: color.foreground(100);
		}

		&.active {
			background: color.primary(100);
			color: color.primary(900);
		}

		&::before {
			content: "";
			display: block;
			width: rem(20);
		}

		&.with-children::before {
			content: unset;
		}
	}

	&__name {
		flex: 1 0 0;
		@include layout.flex(row, center);
		cursor: pointer;
		@include type.ui;
		font-size: rem(13);
	}

	&__body {
		position: relative;

		&::after {
			content: "";
			@include layout.absolute(2px, null, 2px, 10px);
			display: block;
			width: 1px;
			background: color.foreground(50, 0.1);
		}
	}
}
